.ContentCard{
    height: 220px;
    width: 220px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
}

.ContentCard:hover {
    cursor: pointer;
}

.Link{
    text-decoration: none;
    color: #44494F;
    background-color: rgba(245, 239, 215, 0.753);
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    transition: 0.3s;
    padding: 0.5rem;
}

.Link:hover,
.Link:active,
.Link.active
{
    cursor: pointer;
    color: black;
}

@media(max-width: 900px) {
    .ContentCard{
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

