.ContentCard{
    height: 220px;
    width: 220px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
}

.ContentCard:hover {
    cursor: pointer;
}


@media(max-width: 900px) {
    .ContentCard{
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

